.app {
	font:
		14px 'Trebuchet MS',
		'Lucida Sans';
	padding-left: 40px;

	padding-top: 15px;
	padding-bottom: 15px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	position: relative;
	display: block;
	background: #d3d4da;
}

.checked {
	transition: all 0.3s ease-out;
	border-radius: 5px;
	border-left: 10px solid #f05d22;
}

.title {
	padding-top: 15px;
	padding-left: 40px;
	font:
		25px 'Trebuchet MS',
		'Lucida Sans';
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	background: #d3d4da;
}
